.backgroundDiv{
    background-image: url("https://picsum.photos/id/1024/367/267");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#signUp {
    background-color: red;
    color: white;
}